<div class="card-header"> User : <%= comment.user.username %> </div>
<div class="card-body text-info">
  <h5 class="card-title">created: <%= comment.created_at.strftime("%d %b. %Y - %I:%M %P") %></h5>
  <p class="card-text">Comment: <%= comment.body %> </p>
  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                 method: :delete,
                 data: { confirm: 'You are sure to delete the comment?' } %>
  </p>
</div>
